@{
    ViewData["Title"] = "Settings";
}
@section Styles
    {
    }
@section Scripts
    {
    }

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">@ViewData["Title"]</h6>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <a class="btn btn-square bg-gradient-success" href="@Url.Content("~/Settings/ListOrgUnits")"><i class="fa fa-3x fa-building"></i><br />Restaurants</a>

                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 mt-sm-0 mt-2">
                        <a class="btn btn-square bg-gradient-info" href="@Url.Content("~/Account/ListAppUsers")"><i class="fa fa-3x fa-users"></i><br />App Users</a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 mt-lg-0 mt-2">
                        <a class="btn btn-square bg-gradient-warning" href="@Url.Content("~/Employee/Index")"><i class="fa fa-3x fa-id-card-alt"></i><br />Employees</a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 mt-lg-0 mt-2">
                        <a class="btn btn-square bg-gradient-danger" href="@Url.Content("~/Settings/Configuration")"><i class="fa fa-3x fa-cog"></i><br />Configuration</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
