@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        @HttpContextAccessor.HttpContext.Session.GetString("CurrentOrgUnitName") : @ViewData["Title"]
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="@Url.Content("~/assets/css/nucleo-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/nucleo-svg.css")" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="@Url.Content("~/assets/css/material-dashboard.css?v=3.1.0" )" rel="stylesheet" />
    <!--     Datatable     -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/datatables/datatables.bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/datatables/jquery.datatables.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/datatables/buttons.datatables.min.css")" />
    <!--     sweet alert     -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/sweetalert/sweetalert.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/notify/toast.min.css")" />
    <!--     gritter sticky note    -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/gritter/css/jquery.gritter.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/select-ajax/css/bootstrap-select.min.css")" />
    @*    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/select-ajax/css/ajax-bootstrap-select.css")" />*@

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/dropzone/dropzone.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/daterangepicker/daterangepicker.css")" />
    @await RenderSectionAsync("Styles", required: false)
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

</head>
<body class="g-sidenav-show bg-gray-200">
    <div class="main-content position-relative max-height-vh-100 h-100">
        <div class="container-fluid px-2 px-md-4">
            <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
                <span class="mask  bg-gradient-primary  opacity-6"></span>
            </div>
            <div class="card card-body mx-3 mx-md-4 mt-n6">
                <div class="row gx-4 mb-2">
                    <div class="col-auto">
                        <div class="avatar avatar-xl position-relative">
                            <img src="../assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                @HttpContextAccessor.HttpContext.Session.GetString("CurrentOrgUnitName")
                            </h5>
                            <p class="mb-0 font-weight-normal text-sm">
                                @HttpContextAccessor.HttpContext.Session.GetString("CurrentUser")
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1 active" href="@Url.Content("~/Home/Index")" role="tab" aria-selected="true">
                                        <i class="material-icons text-lg position-relative">home</i>
                                        <span class="ms-1">Home</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1 "  href="javascript:;" role="tab" aria-selected="false">
                                        <i class="material-icons text-lg position-relative">email</i>
                                        <span class="ms-1">Messages</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1 "  href="@Url.Content("~/Account/LogOut")" role="tab" aria-selected="false">
                                        <i class="material-icons text-lg position-relative">logout</i>
                                        <span class="ms-1">Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Content -->
                    @RenderBody()
                    <!-- / Content -->
                </div>
            </div>
        </div>
        <footer class="footer py-4  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            © <script>
                                  document.write(new Date().getFullYear())
                            </script>,
                            made with <i class="fa fa-heart"></i> by
                            <a href="#" class="font-weight-bold" target="_blank">Spine Care</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="#" class="nav-link text-muted" target="_blank">Spine Care</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-muted" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-muted" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link pe-0 text-muted" target="_blank">License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="fixed-plugin">
        <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
            <i class="material-icons py-2">settings</i>
        </a>
        <div class="card shadow-lg">
            <div class="card-header pb-0 pt-3">
                <div class="float-start">
                    <h5 class="mt-3 mb-0">Theme Configuration</h5>
                </div>
                <div class="float-end mt-4">
                    <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <!-- End Toggle Button -->
            </div>
            <hr class="horizontal dark my-1">
            <div class="card-body pt-sm-3 pt-0">
                <!-- Sidebar Backgrounds -->
                <div>
                    <h6 class="mb-0">Sidebar Colors</h6>
                </div>
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <div class="badge-colors my-2 text-start">
                        <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
                    </div>
                </a>
                <!-- Sidenav Type -->
                <div class="mt-3">
                    <h6 class="mb-0">Sidenav Type</h6>
                    <p class="text-sm">Choose between 2 different sidenav types.</p>
                </div>
                <div class="d-flex">
                    <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Dark</button>
                    <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
                    <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
                </div>
                <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
                <!-- Navbar Fixed -->
                <div class="mt-3 d-flex">
                    <h6 class="mb-0">Navbar Fixed</h6>
                    <div class="form-check form-switch ps-0 ms-auto my-auto">
                        <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
                    </div>
                </div>
                <hr class="horizontal dark my-3">
                <div class="mt-2 d-flex">
                    <h6 class="mb-0">Light / Dark</h6>
                    <div class="form-check form-switch ps-0 ms-auto my-auto">
                        <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
                    </div>
                </div>
                <hr class="horizontal dark my-sm-4">
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script type="text/javascript" src="@Url.Content("~/lib/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/assets/js/core/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/core/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/plugins/perfect-scrollbar.min.js")"></script>
    <script src="@Url.Content("~/assets/js/plugins/smooth-scrollbar.min.js")"></script>
    <!-- Datatable -->
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/jquery.datatables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/datatables.bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/datatables.buttons.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/lib/datatables/buttons.flash.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/jszip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/pdfmake.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/vfs_fonts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/buttons.html5.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/datatables/buttons.print.min.js")"></script>
    <!-- sweet alert -->
    <script type="text/javascript" src="@Url.Content("~/lib/sweetalert/sweetalert.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/notify/toast.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/lib/moment/moment.js")"></script>

    <!--Page Loader Block Unblock-->
    <script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.blockUI.js")"></script>
    <!--  gritter sticky note -->
    <script type="text/javascript" src="@Url.Content("~/lib/gritter/js/jquery.gritter.js")"></script>
    <!-- notify -->
    <script type="text/javascript" src="@Url.Content("~/lib/notify/bootstrap-notify.js")"></script>

    <script src="@Url.Content("~/lib/daterangepicker/daterangepicker.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/lib/dropzone/dropzone.js")"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script src="@Url.Content("~/assets/js/material-dashboard.min.js?v=3.1.0")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>